.container {
    width: 28.125rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 6.375rem;
    background: #fff;
    box-shadow: 0 2.5rem 2.5rem -1.25rem rgba(13, 48, 189, 0.151826);
    border-radius: 1.25rem;
}